body {
    font-family: Arial, sans-serif;
    background-color: #1e293b;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1e293b;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 42px;
}

.user-info {
    display: flex;
    align-items: center;
    color: #fff;
}

.user-icon {
    margin-right: 10px;
}

.user-icon i {
    font-size: 2rem;

}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 1.2rem;

}

.user-matricula {
    font-size: 0.9rem;

}

.user-creation-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    flex-grow: 1;
    width: 850px;
}

.user-creation-form h2 {
    text-align: center;
    color: #1e293b;
}

.form-label {
    font-weight: bold;
}

.form-input {
    width: 800px;
    padding: 5px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.create-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 200px;
    margin-left: 0px;
}

.create-button:hover {
    opacity: 0.8;
}

footer {
    background-color: #1e293b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

table, th, td{
	border: 1px solid rgb(0, 0, 0);
	border-collapse: collapse;
	padding: 5px 2px;
}

table {
	width: 100%;
	border-radius: 20px;
}

th{
	background-color: #3498db;
    color: #fff;
}

tr:hover{
	background-color: #f7f5f5;
}

/* Button styles with Font Awesome icons and different colors */
      .view-button {
        background-color: #3498db;
        /* Blue */
        color: #fff;
      }

      .edit-button {
        background-color: #f39c12;
        /* Orange */
        color: #fff;
      }

      .remove-button {
        background-color: #e74c3c;
        /* Red */
        color: #fff;
      }
      
       .user-creation-form button {
        border: none;
        border-radius: 4px;
        padding: 0.3rem 0.6rem;
        cursor: pointer;
        font-size: 0.8rem;
      }

      .user-creation-form button:hover {
        opacity: 0.8;
      }