body {
    font-family: Arial, sans-serif;
    background-color: #1e293b;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1e293b;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 42px;
}

.user-info {
    display: flex;
    align-items: center;
    color: #fff;
}

.user-icon {
    margin-right: 10px;
}

.user-icon i {
    font-size: 2rem;

}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 1.2rem;

}

.user-matricula {
    font-size: 0.9rem;

}

.user-creation-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    flex-grow: 1;
    width: 850px;
}

.user-creation-form h2 {
    text-align: center;
    color: #1e293b;
}

.form-label {
    font-weight: bold;
}

.name, .matricula, .email, .password, .role {
    width: 800px;
    padding: 5px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 230px;
}

.submit2 {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 100px;
}

.create-button:hover {
    opacity: 0.8;
}

footer {
    background-color: #1e293b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}