/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #1e293b;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para o cabeçalho */
header {
    background-color: #1e293b;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 42px;
}

.user-info {
    display: flex;
    align-items: center;
    color: #fff;
}

.user-icon {
    margin-right: 10px;
}

.user-icon i {
    font-size: 2rem;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 1.2rem;
}

.user-matricula {
    font-size: 0.9rem;
}

/* Estilos para o apontamento de hora extra */
.hora-extra-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    flex-grow: 1;
    max-width: 850px;
}

.hora-extra-form h2 {
    text-align: center;
    color: #1e293b;
}

.form-label {
    font-weight: bold;
}

/* Estilos para os campos de entrada */
.entrada,
.saida,
.cliente,
.projeto,
.solicitante,
.cr,
.justificativa {
    width: 820px;
    padding: 5px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para os botões */
.submit {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 190px;
}

.submit2 {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 100px;
}


/* Estilos para o hover nos botões */
.submit:hover,
.submit2:hover {
    opacity: 0.8;
}

/* Estilos para o rodapé */
footer {
    background-color: #1e293b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav.menu-lateral {
    width: 60px;
    height: calc (100vh - 58px);
    background-color: #2E5276;
    padding: 0px;
    box-shadow: 3px 0 0 #3498db;    
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}
nav.menu-lateral:hover {
    width: 250px;

}

ul{
    height: 100%;    
    list-style-type: none;
    padding: 0%;
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color: #3498db;
}

ul li.item-menu:hover {
    background-color: #3498db;
}
ul li.item-menu a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 6%;
    display: flex ;
    line-height: 30px;

}
ul li.item-menu a .txt-link{
    margin-left: 40px;
}
ul li.item-menu a .icon > i{
    font-size: 23px;
    margin-left: 10px;
}
.content {
    display: flex;
    height: calc(100vh - 58px); 
}

.tela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 2rem;
    flex-grow: 1;
}
